.passage-card {
  padding: 0.8rem;
}

.passage-card-header {
  display: flex;
  align-items: center;
}

.passage-card-text-container {
  display: flex;
}

.passage-card-text-element {
  width: 48%;
}

.passage-card-divider {
  margin-left: 2%;
  margin-right: 2%;
}

.matched-word {
  background-color: lightblue;
}
