.WordBuilder {
    flex-shrink: 0;
    margin: 0.5rem;
    padding: 1.2rem;
    width: 18rem;
}

.word-card-title-highlighted {
    font-weight: bold;
}

.word-card-title-subtitle {
    font-weight: normal;
}