.attribute-editor {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.attribute-input {
  width: 55%;
}

.attribute-any-item {
  color: gray;
  font-style: italic;
}

.attribute-selected-item {
  font-weight: bold;
}

.attribute-label-disabled {
  color: lightgray;
}
